.container{
    display: flex;
    margin-top: 35px;
    margin-left: 50px;
    padding-top: 30px;
}

.section{
    width: 1000px;
    background-color: #0E0E1B;
    border-radius: 2%;
    margin-top: 40px;
    margin-left: 40px;
    padding-bottom: 20px;
}

.foto{
    border-radius: 50%;
    height: 65.4px;
    width: 63.89px;
    border: 3px solid blue;
}

.containerPerfil{
    margin-top: 15px;
    margin-left: 15px;
}

.h2{
    color: #fff;
    font-size: 24px;
}

.p1{
    color: #999999;
    font-size: 16px;
}

.texto{
    color: #CCCCCC;
    margin-left: 55px;
    margin-top: 20px;
    font-size: 16px;
}

.feedback{
    color: #FFFFFF;
    margin-top: 80px;
    margin-left: 55px;
}

.input{
    background-color: #DDDDDD;
    padding-left: 10px;
    padding-right: 750px;
    padding-top: 10px;
    padding-bottom: 150px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
}

.containerComentario{
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
    background-color: #1C1C2F;
    margin-right: 28px;
}

.containerInfoComentario{
    margin-left: 20px;
}

.fotoComentario{
    max-height: 50px;
    border-radius: 50%;
    border-style: none;
}

.nomeComentario{
    color: #FFFFFF;
    width: inherit;

}

.cargoComentario{
    color: #CCCCCC;
    width: inherit;

}

.textoComentario{
    color: #FFFFFF;
    width: inherit;
}

.botaoExcluir{
    position: absolute;
    left: 1385px;
}
    